<div class="social-links">

  {% if site.social-links.github %}
  <div>
    <a href="https://github.com/{{ site.social-links.github }}">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
  {% endif %} 
  
  {% if site.social-links.blog %}
  <div onclick="location.href ='https://blog.naver.com/{{ site.social-links.blog }}'" class="blog"></div>
  {% endif %} 
  
  {% if site.social-links.instagram %}
  <div>
    <a href="https://instagram.com/{{ site.social-links.instagram }}">
      <i class="fa fa-instagram fa-lg"></i>
    </a>
  </div>
  {% endif %} 
  
  {% if site.social-links.email %}
  <div>
    <a href="mailto:{{ site.social-links.email }}">
      <i class="fa fa-envelope fa-lg"></i>
    </a>
  </div>
  {% endif %}
  
</div>